<div style="padding: 20px">
  <div style="margin-bottom: 20px">
  <label style="margin-right: 7px" for="favcolor">Choose color</label>
  <input type="color" id="favcolor" name="favcolor" #favcolor ngModel/>
    </div>
  <canvas
    width="400"
    height="400"
    #canvas
    style="border: 1px solid black"
    (click)="onCanvasClick($event)"
  >
  </canvas>
</div>
